
//theme colors
$percolate_blue: rgb(28, 47, 66);
$percolate_green: rgb(153, 153, 51);
$percolate_creme: rgb(253, 244, 210);
$percolate_brew: rgba(31, 17, 0, 0.6);

//fonts
$font_1: Nexa Slab Light;
$font_0: Novecento Wide Bold;
$font_2: Novecento Wide Demibold;
$font_3: tablet-gothic;
$font_4: Sentinel Medium;
$font_5: sans-serif;
$font_6: serif;
$font_7: Minion Pro;
$font_8: Georgia;



//@extend-elements
//original selectors
//body.single article div.big p:before, body.single article div.big p:after
%extend_1 {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}


header[role="banner"] {
	font-family: $font_1;
	padding-top: 20px;
	width: 100%;
	color: $white;
	height: 60px;
	background-color: #fff;

	//Instead of the line below you could use @includebox-sizing($bs)
	box-sizing: border-box;
	border-bottom: 1px solid $seashell;
	border-top: 5px solid $color_slate_gray_30_approx;
	font-size: 16px;
	font-size: 1.3rem;
	line-height: 20px;
	line-height: 0.8rem;
	letter-spacing: 1px;
	position: relative;
}
header {
	img {
		margin-top: -73px;
		float: left;
	}
	h1 {
		margin-left: 20px;
	}
}
nav[role="navigation"] {
	a {
		font-family: $font_2;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1rem;
		line-height: 0.5rem;
		color: $color_celeste_approx;
		padding-bottom: 0.02em;
		&:hover {
			color: $color_cinnabar_approx;
			text-decoration: none;
		}
		&:focus {
			color: $color_cinnabar_approx;
			text-decoration: none;
		}
	}
	ul li {
		float: left;
		padding: 0 15px;
		margin-bottom: 10px;
		&:last-of-type {
			padding: 0 0 0 15px;
		}
	}
	li.current_page_item a {
		color: $color_cinnabar_approx;
		text-decoration: none;
	}
}
.portfolioContainer {
	position: relative;
	overflow: hidden;
	margin: 30px auto;
}
ul {
	&.portfolioFilter {
		border-bottom: 1px solid $seashell;
		padding: 0 15px;
		li {
			display: inline;
			a {
				font-weight: 100;
				letter-spacing: 2px;
				font-size: 1rem;
				cursor: pointer;
				padding: 0 12px;
				color: $color_celeste_approx;
				&:hover {
					color: $color_cinnabar_approx;
				}
			}
			&.current a {
				color: $color_cinnabar_approx;
			}
		}
	}
	&#page {
		border-bottom: 1px solid $seashell;
		padding: 15px 0 13px;
		margin-bottom: 50px;
		li {
			color: $color_celeste_approx;
			display: inline-block;
			font-weight: 400;
			text-transform: uppercase;
			font-size: .8rem;
			cursor: pointer;
			padding: 0 10px;
			a {
				color: $color_celeste_approx;
				&:hover {
					color: $color_mountain_mist_approx;
					text-decoration: none;
				}
			}
			&.current a {
				color: $color_mountain_mist_approx;
				text-decoration: none;
			}
		}
	}
	&#filter li a:hover {
		color: $color_cinnabar_approx;
	}
}
article {
	img {
		margin: 5px;
	}
	&.item a.more-info span {
		vertical-align: 1px;
		font-size: .7rem;
	}
	div.big footer.top {
		display: block;
	}
}
.isotope-item {
	z-index: 2;
}
.isotope {
	//Instead of the line below you could use @includetransition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
	transition-duration: 0.8s;
	//Instead of the line below you could use @includetransition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
	transition-property: height, width;
	.isotope-item {
		//Instead of the line below you could use @includetransition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
		transition-duration: 0.8s;
		//Instead of the line below you could use @includetransition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
		transition-property: transform, opacity;
	}
}
.recent {
	width: 73%;
	color: $color_cinnabar_approx;
	font-family: $font_1;
	letter-spacing: 2px;
	font-size: 1.25em;
	text-transform: uppercase;
}
#return {
	font-family: $font_1;
	font-size: .65em;
	color: $color_celeste_10_approx;
}
#bio {
	margin-top: 2em;
	h3 {
		font-family: $font_0;
		font-size: 1.5em;
		color: $color_cinnabar_approx;
		border-bottom: none;
	}
	p {
		font-size: .85em;
	}
}
#socialMedia {
	margin-top: 2em;
	h3 {
		font-family: $font_0;
		font-size: 1em;
		color: $color_cinnabar_approx;
		border-bottom: none;
	}
}
#svg {
	margin-left: 20%;
	li {
		display: inline-block;
		h5 {
			display: none;
		}
	}
	img {
		width: 50px;
	}
}
#splash {
	position: relative;
	width: 100%;
	background-image: $splash-background;
	
	h1 {
		position: absolute;
		margin-left: 200px;
		margin-top: -325px;
		z-index: 1000;
		width: 60%;
		font-family: $font_1, $font_6;
		color: $color_cinnabar_approx;
		font-size: 2em;
		line-height: 1.5em;
	}
}

#description {
	position: relative;
	width: 100%;
	background-color: rgba(15, 15, 15, .8);
	
	h2 {
		font-family: $font_2, $font_6;
		color: $color_cinnabar_approx;
		font-size: 1.75em;
	}

	p{
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
}
.brief {
	h3 {
		font-family: $font_0, $font_6;
		font-size: 1.25em;
		color: $color_cinnabar_approx;
	}
	p {
		font-family: $font_3, $font_4, $font_5;
		font-size: .7em;
	}
}
#components {
	position: relative;
	width: 100%;
	padding-top: 10em;
	opacity: 0.95;

	h3{
		text-transform: uppercase;
		color: rgba(255,255, 255, .9);
		font-family: $font_2;
		font-size: 2em;
	}

}
#web {
	position: relative;
	background-image: $web-background;
	background-size: cover;
}

#campaign {
	position: relative;
	background-image: $campaign-background;
	background-size: cover;
}

#print {
	position: relative;
	background-image: $print-background;
	background-size: cover;
}

#quote {
	background-color: $percolate_blue;
	color: #FFF;
	display: inline-block;
	h3 {
		border-bottom: 0;
		margin-top: 10px;
	}
	a {
		color: #FFF;
		&:hover {
			color: $color-grey-light;
		}
	}
	@include center-in-parent
}

footer {
	&#dropdown {
		display: none;
		background: $color_chateau_green_10_approx;
		padding-top: 10px;
		h2 {
			font-family: $font_2, $font_7, $font_8, $font_6;
			color: $color_romance_approx;
			font-size: 2rem;
			line-height: 3rem;
			padding: 1rem 0;
			&:last-of-type {
				border-bottom: 1px solid $seashell;
				padding: 1rem 0 2rem;
			}
		}
		a {
			font-style: italic;
			&#close {
				font-family: $font_3, $font_4, $font_5;
				font-size: 1rem;
				display: block;
				padding: 1.5rem 0 .7rem;
				font-style: normal;
				text-transform: uppercase;
			}
		}
	}
	&.top {
		border-top: 1px solid #F1F1F1;
		margin-top: 15px;
		padding-top: 15px;
		a {
			font-style: normal;
		}
		p {
			margin-bottom: 1rem;
		}
	}
	&.single-top {
		display: none;
	}
}
#social {
	height: 200px;
}
#process{
	color: #FFF;
	text-decoration: none;
	opacity: 0.9;
}
#process-title{
	background-color: $percolate_blue;
	color: #FFF;
	font-family: $font_0;
	h3{
		text-transform: uppercase;
		color: rgba(255,255, 255, .9);
		font-family: $font_2;
		font-size: 2em;
	}
}
#moodboards{
	background-color: $percolate_green;
	color: #FFF;
	h3{
		text-transform: uppercase;
		color: rgba(255,255, 255, .9);
		font-family: $font_3;
		font-size: 1em;
	}
	h3:hover{
		font-family: $font_2;
		letter-spacing: .05em;
	}
}
#word{
	background-color: $percolate_brew;
	color: #FFF;
	h3{
		text-transform: uppercase;
		color: rgba(255,255, 255, .9);
		font-family: $font_3;
		font-size: 1em;
	}
	h3:hover{
		font-family: $font_2;
		letter-spacing: .05em;
	}

}
#personas{
	background-color: $percolate_green;
	h3{
		text-transform: uppercase;
		color: rgba(255,255, 255, .9);
		font-family: $font_3;
		font-size: 1em;
	}
	h3:hover{
		font-family: $font_2;
		letter-spacing: .05em;
	}

}
#storyboards{
	background-color: $percolate_brew;
	color: #FFF;
	h3{
		text-transform: uppercase;
		color: rgba(255,255, 255, .9);
		font-family: $font_3;
		font-size: 1em;
	}
	h3:hover{
		font-family: $font_2;
		letter-spacing: .05em;
	}
}
#sketches{
	background-color: $percolate_blue;
	color: #FFF;
	h3{
		text-transform: uppercase;
		color: rgba(255, 255, 255, .9);
		font-family: $font_3;
		font-size: 1em;
	}
	h3:hover{
		font-family: $font_2;
		letter-spacing: .05em;
	}
}
#prompt {
	background-color: $percolate_brew;
	color: #FFF;
	display: inline-block;
	h3 {
		border-bottom: 0;
		margin-top: 10px;
	}
	a {
		color: #FFF;
		&:hover {
			color: $percolate_creme;
		}
	}
	@include center-in-parent
}

#rights {
	background-color: $color_cinnabar_approx;
	width: 100%;
	color: #FFF;
	h4 {
		font-size: .6em;
		font-family: $font_1, $font_6;
		font-weight: 500;
	}
}

@media screen and (max-width: 1280px) {
	.full {
		width: 960px;
	}
	.partial {
		width: 795px;
	}
	.big {
		width: 73%;
	}
	.medium {
		width: 27%;
	}
	.small {
		width: 23%;
	}
	h2 {
		font-size: 2rem;
		line-height: 3.5rem;
	}
	body {
		font-size: 1.25rem;
		line-height: 2.5rem;
		&.home {
			font-size: 1rem;
			line-height: 1.8rem;
		}
		&.single-work {
			font-size: 1rem;
			line-height: 1.8rem;
			div.big img {
				&.two-thirds {
					width: 465px;
				}
				&.double {
					width: 345px;
				}
				&.triple {
					width: 226px;
				}
				&.center {
					margin: 0 11px;
				}
			}
		}
	}
}
@media screen and (max-width: 960px) {
	.full {
		width: 750px;
	}
	.partial {
		width: 750px;
	}
	.big {
		width: 100%;
	}
	.medium {
		width: 100%;
	}
	.small {
		width: 100%;
		margin: 15px auto 0;
	}
	h2 {
		font-size: 2.2rem;
		line-height: 3.5rem;
	}
	body {
		font-size: 1.5rem;
		line-height: 2.8rem;
		&.single-work div.big img {
			&.two-thirds {
				width: 465px;
			}
			&.double {
				width: 345px;
			}
			&.triple {
				width: 226px;
			}
			&.center {
				margin: 0 11px;
			}
		}
	}
	article#post-10>div.align-left {
		display: none;
	}
}
@media screen and (max-width: 800px) {
	.full {
		width: 750px;
	}
	.partial {
		width: 750px;
	}
	.big {
		width: 100%;
	}
	.medium {
		width: 100%;
	}
	.small {
		width: 80%;
		margin: 15px auto 0;
		float: none;
	}
	.align-right {
		float: none;
	}
	h2 {
		font-size: 1.4rem;
		line-height: 2.2rem;
	}
	body {
		font-size: 1.2rem;
		line-height: 2.2rem;
		&.single-work div.big img {
			&.double {
				width: 360px;
			}
			&.triple {
				width: 226px;
				float: none;
				margin: 0 70px;
			}
		}
	}
	header[role="banner"] {
		padding-top: 75px;
		border-bottom: none;
		margin-bottom: 1em;
	}
	ul {
		&.portfolioFilter {
			display: none;
		}
		&#page {
			display: none;
		}
		&#filter {
			display: none;
		}
	}
	footer {
		&.top {
			display: block;
		}
		&#dropdown h2 {
			font-size: 1rem;
			line-height: 1.5rem;
		}
	}
	.cover {
		margin-top: 10px;
	}
	#svg {
		margin: 0 auto;
		padding-bottom: 5px;
		text-align: center;
		li {
			display: inline;
			img {
				width: 100px;
				height: 100px;
			}
		}
	}
	h1.align-left {
		float: none;
		margin: 0 auto;
	}
	header img {
		margin-top: -75px;
		float: left;
	}
	nav[role="navigation"].align-right {
		width: 250px;
		float: none;
		margin: 30px auto 0;
	}
	#quote h3 {
		text-align: center;
	}
	#prompt h3 {
		text-align: center;
	}
}
@media screen and (max-width: 730px) {
	.full {
		width: 580px;
	}
	.partial {
		width: 580px;
	}
	.big {
		width: 100%;
	}
	.medium {
		width: 100%;
	}
	h2 {
		font-size: 1.4rem;
		line-height: 2.2rem;
	}
	body {
		font-size: 1.2rem;
		line-height: 2.2rem;
		&.single-work div.big img {
			&.double {
				width: 360px;
			}
			&.triple {
				width: 226px;
				float: none;
				margin: 0 70px;
			}
		}
	}
	nav[role="navigation"] {
		&.align-right {
			width: 250px;
			float: none;
			margin: 15px auto;
		}
		// ul li:nth-of-type (3) {
		// 	display: none;
		// }
	}
	header[role="banner"] {
		padding-top: 22px;
	}
	.small.align-right {
		margin: 15px auto 0;
		float: none;
	}
	h1.align-left {
		float: none;
		margin: 0 auto;
	}
	footer#dropdown h2 {
		font-size: 1.4rem;
		line-height: 2.2rem;
	}
}
@media screen and (max-width: 330px) {
	.full {
		width: 280px;
	}
	.partial {
		width: 280px;
	}
	.big {
		width: 100%;
	}
	.medium {
		width: 100%;
	}
	h1 {
		width: 215px;
		text-align: center;
		&.align-left {
			float: none;
			margin: 0 auto;
		}
	}
	h2 {
		font-size: 1.4rem;
		line-height: 2.2rem;
	}
	body {
		font-size: 1.2rem;
		line-height: 2.2rem;
		&.single-work div.big img {
			&.double {
				width: 360px;
			}
			&.triple {
				width: 226px;
				float: none;
				margin: 0 25px;
			}
		}
	}
	header[role="banner"] {
		padding-top: 75px;
		line-height: 10px;
		line-height: .6rem;
		margin-bottom: 5px;
	}
	ul {
		&#page {
			display: none;
		}
		&#filter {
			display: none;
		}
	}
	.gutter-right {
		margin-right: 0;
	}
	.gutter-left {
		margin-left: 0;
	}
	.align-left {
		float: none;
	}
	.align-right {
		float: none;
	}
	p {
		font-size: 2em;
	}
	h3 {
		&#socialMedia {
			font-family: $font_1;
		}
		&#bio {
			font-family: $font_1;
		}
	}
	#splash {
		display: none;
	}
	.recent {
		display: none;
	}
	.small.align-right {
		width: 100%;
		margin: 15px auto 0;
		float: none;
	}
}
.portfolioFilter a {
	margin-right: 10px;
	color: $color_storm_dust_approx;
	text-decoration: none;
	text-transform: uppercase;
	&.current {
		color: $color_cinnabar_approx;
	}
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
#prompt h3 {
	border-bottom: 0;
	margin-top: 10px;
	a {
		font-weight: 900;
		color: #FFF;
		text-transform: uppercase;
	}
}