
$gutter-size: 10px;
$column-length: 12;

// Sass Map, named indexes
$container-width:(
	xs:0,
	sm:480px,
	md:640px,
	lg:960px,
	xl:1200px
	);

// Sass List, linear array
$size-shortnames:("xs","sm","md","lg","xl");


// map-get($container-width,"xs");

$container-xs-width:map-get($container-width,"xs");
$container-sm-width:640px;
$container-md-width:800px;
$container-lg-width:1000px;
$container-xl-width:1200px;

//colors

$color_cinnabar_approx: rgb(239, 70, 59);
$color_oslo_gray_approx: rgb(130,140,149);
$color_ironside_gray_approx: rgb(102,103,102);
$color_rangoon_green_approx: rgb(30,25,27);
$color_cinnabar_20_approx: rgba(239, 70, 59, .2);
$white: #fff;
$color_gold_approx: #fcd700;
$black: #000;
$color_mine_shaft_approx: rgb(51,51,51);
$color_slate_gray_approx: rgb(118,134,147);
$seashell: rgb(241,241,241);
$color_slate_gray_30_approx: rgba(118,134,147,.3);
$color_celeste_approx: rgb(204,204,204);
$color_storm_dust_approx: #666;
$color_celeste_10_approx: rgba(204, 204, 204, .1);
$color_mountain_mist_approx: rgb(153,153,153);
$color_chateau_green_10_approx: rgba(51, 153, 102, .1);
$color_romance_approx: rgb(254, 254, 254);
$color_chateau_green_40_approx: rgba(51, 153, 102, .4);
$color_chateau_green_approx: rgb(51, 153, 102);
$color_neon_carrot_approx: rgb(255, 153, 51);
$color-grey-light:#eee;


//fonts
$font_1: Nexa Slab Light;
$font_0: Novecento Wide Bold;
$font_2: Novecento Wide Demibold;
$font_3: tablet-gothic;
$font_4: Sentinel Medium;
$font_5: sans-serif;
$font_6: serif;
$font_7: Minion Pro;
$font_8: Georgia;

//images
$splash-background: url('../img/woodbgb.jpg');
$web-background: url('../img/percolate_ad2.jpg');
$campaign-background: url('../img/percolate_ad.jpg');
$print-background: url('../img/percolate_ad_print3.png');


@mixin make-font-face($font-name,$font-src,$font-format:'ttf') {
	@font-face {
	  font-family: $font-name;
	  src: url(#{$font-src}) format(#{$font-format});
	}
}

@function gradient-named-darken($percentage){
	@return repeating-linear-gradient(
		45deg,
		darken(#e6f728,percentage($percentage)),
		darken(#f7d428,percentage($percentage)) 10px,
		darken(#effa73,percentage($percentage)) 10px,
		darken(#effa73,percentage($percentage)) 20px
		);
}

//colors
$white: #fff;
$seashell: rgb(241,241,241);
$color_slate_gray_30_approx: rgba(118,134,147,.3);
$color_celeste_approx: rgb(204,204,204);
$color_cinnabar_approx: rgb(239, 70, 59);
$color_oslo_gray_approx: rgb(130,140,149);
$color_ironside_gray_approx: rgb(102,103,102);
$color_rangoon_green_approx: rgb(30,25,27);
$color_cinnabar_20_approx: rgba(239, 70, 59, .2);
$color_gold_approx: #fcd700;
$black: #000;



//fonts
$font_0: tablet-gothic;
$font_1: Trade Gothic;
$font_2: sans-serif;

//images
$splash-background: url('../img/woodbgb.jpg');